input {
    max-width: 3cm;
    max-height: 3cm;
    width: 9vmin;
    height: 9vmin;
    font-size: 400%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 3px solid;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

#board, #controls {
    margin: auto;
}

#controls {
    width: 50vmin;
    align-content: center;
}

button, select {
    max-width: 50cm;
    max-height: 15cm;
    width: 50vmin;
    height: 15vmin;
    font-size: 400%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

body {
    background-color: skyblue;
}
